
//nav
.main-nav a {
  position: relative;
  display: inline-block; //permet d'avoir des éléments qui sont sur la même ligne
}

// animation surlignee
.main-nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: $mouse;
  transition: transform 0.2s ease-out;
}

.main-nav a:hover::after {
  transform: scaleX(1);
  //transform-origin: bottom left;
}

#navbarNav {
  font-size: 20px;
}

// Header
.banner {
  height: 80vh;
  overflow: hidden;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 30% 30%;
}
@media screen and (max-width: 770px) {
  .banner img {
    object-position: 70% 30%;
  }
}

.center-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

//  fin de la section 
.section-border {
  border-top: 1px solid $mouse;
  padding: 5% 0;
  margin: 2% 0;
}

// section parallax

// .parallax {
//   background-image: url(/ressources/start.jpeg);
//   min-height: 400px;
//   position: relative;
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-color: #fff;
// }


// section customers
.fontawesome a {
  color: $pallet-blue-1;
}
.fontawesome a:hover {
  color: darken($pallet-blue-3, 5%); 
}

#customers img {
  margin-top: -65px;
}

.card-body {
  padding-bottom: 50px;
}

