body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f1f1f1;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

.kaushan-font {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
