//palette

$dark-one : #343A40;
$mouse: #E0E1DD;
$main-red: #c70a0a;
$pallet-blue-1: #003366;
$pallet-blue-2: #415A77;
$pallet-blue-3: #778DA9;


$custom-theme-colors : (
     "mouse" : $mouse,
     "pallet-blue-1" :$pallet-blue-1,
     "pallet-blue-2" :$pallet-blue-2,
     "pallet-blue-3" :$pallet-blue-3,
     "dark-one" :$dark-one,
     "main-red" : $main-red);


$theme-colors: map.merge($custom-theme-colors, $theme-colors);

// reparer le bug de bootstrap sur les bg et le text
@each $key, $val in $custom-theme-colors {
     .bg-#{$key} {
          background-color: $val !important;
     }

     .text-#{$key} {
          color: $val !important;
     }
    }

